<h1>Help</h1>
<p>
  Get help on Ruby on Rails Tutorial at the
  <a href="about">Rails Tutorial help page</a>.
  To get help on this sample app, see the
  <a href="help">Rails Tutorial book</a>.
</p>

